/*
    DEMO STYLE
*/
@import "../../node_modules/bootstrap/scss/bootstrap";
@import './vars.scss';
@font-face { font-family: chunkfive; src: url('../assets/fonts/Chunkfive.otf'); }
@font-face { font-family: dosis; src: url('../assets/fonts/Dosis-Light.otf'); }
@font-face { font-family: dosis-extrabold; src: url('../assets/fonts/Dosis-ExtraBold.otf'); }
@font-face { font-family: sspro; src: url('../assets/fonts/SourceSansPro-Regular.otf'); }


body {
    font-family: $font-dosis;
    background: $bg-color; // Dark mode: #243144
    background-image: url('../assets/bg.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

p {
    font-family: 'dosis', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color:  $black !important; // #303D54;
}

b {
    font-family: 'dosis-extrabold', sans-serif;
    font-weight: 500;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

h1 {
    color: #444444;
    font-family: chunkfive !important;
    font-style: bold;
}

h2 {
    color: $text-primary !important;
    font-family: chunkfive !important;
    font-size: 1.8rem;
    margin: 0;
}

h5 {
  color: $light-green;
  font-family: chunkfive !important;
  font-size: 1.4rem;
  font-weight: lighter;
  margin: 0;
}

hr {
    border: 0;
    height: 1px;
    margin: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.btn.btn-primary {
  background-image: linear-gradient(to right, #89C6A2, #D0E5B3);
  border-color: #D0E5B3;
  color: #ffffff;
  font-family: chunkfive;
  font-size: 17px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 5px;
}

.sidebar-container {
    width: 15%;
}
/* ---------------------------------------------------
    Tables
----------------------------------------------------- */

table {
    white-space: nowrap;
    margin: 0;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #c8e6db61;
 }

.row-primary {
    background: #89C6A2;
}

.row-secondary {
    background: #D0E5B3;
}

/* ---------------------------------------------------
    Colors
----------------------------------------------------- */

.black {
    color: $black;
}
.green-main {
    color: $light-green;
}

.green-secondary {
    color: #D0E5B3;
}

.gray {
    color: #cccccc;
}

.purple {
    color: #303D54;
}

.green {
    color: #73a988;
}

.red {
    color: $red;
}

.yellow {
    color: #D8B407;
}

.blue {
    color: #441DBC;
}

.cyan {
    color: #1A85C1;
}

.white {
    color: #ffffff;
}

/* ---------------------------------------------------
    Fonts
----------------------------------------------------- */

.chunkfive {
  font-family: chunkfive !important;
  font-style: bold;
}


/* ---------------------------------------------------
    Borders
----------------------------------------------------- */

.border-green {
    border: 1px #69C638;
  }

/* ---------------------------------------------------
    Borders
----------------------------------------------------- */

.btn-gradient {
    color: #f2f7f7;
    border: 2px #9ac091;
    background: linear-gradient(to right, rgba(115,170,138,1) 0%, rgba(149,189,142,1) 51%, rgba(115,170,138,1) 100%);
  }
    
/* ---------------------------------------------------
    Header
----------------------------------------------------- */
.header {
    background: $deep-blue;
    height: 50px;
    background-size: 100%;
    border-top: 5px solid $light-green;
    z-index: 2;
}

.logo-container {
    background: $dark-blue;
    width: 15%;
    height: 100%;
    color: $light-gray;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px 20px;
}

.top-menu {
    width: 80%;
    ul {
        position: relative;
        display: flex;
        margin-top: 15px;
        text-transform: uppercase;
    }
    li {
        display: inline !important;
        color: $light-gray;
        text-align: center;
        font-size: 1.0rem;
        padding: 0 20px;
    }
    li.is-selected {
        border-bottom: solid 3px $light-green;
      }
      
    li:hover {
        border-bottom: solid 3px $light-gray;
    }
      
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#body {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#content {
    padding: 20px;
}

.body-container {
    margin: 1% 0 0 1%;
    width: 80%;
    h1 {
        margin-bottom: 0;
        padding-left: 15px;
        line-height: 2.3rem;
        color: $white;
    }
    .body {
        background-color: $body-bg;
        margin: 0;
        padding-top: 15px;
        height: 90%;
    }
}

.topic-container {
    h3 {
        margin-left: 0;
    }
    .card {
        background: $body-bg; /* Old browsers */
        border: solid 1px #fff;
        border-radius: 0;
        // background: linear-gradient(to right, rgba(115,170,138,1) 0%, rgba(149,189,142,1) 51%, rgba(115,170,138,1) 100%);
        .card-body {
            color: #fff;
        }
    }    
}
/* ---------------------------------------------------
    General Styles
----------------------------------------------------- */

.flag {
    height: 20px;
    margin: 10px 0;
    width: 25px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 100px;
        max-width: 100px;
        text-align: center;
        margin-left: -100px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    Players Screen STYLE
----------------------------------------------------- */

.dc-dorsal {
    color: #CE3A17;
    font-family: 'chunkfive', sans-serif;
    font-weight: bolder;
    margin-bottom: 0;
  }

.list-container {
    background-color: #ffffff;
    padding: 10px 40px;
}

.extrabold {
    font-family: 'dosis-extrabold', sans-serif;
}

.smaller {
    font-size: 0.7em;
}

.player-action {
    background-color: #444444;
    padding: 3px;
    border-radius: 3px;
    width: 25px;
    margin: 0 2px;
    text-align: center;
}

/* ---------------------------------------------------
    Players MODAL
----------------------------------------------------- */
.modal-content {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.modal-dialog {
    border: 1px #B7D5A6 !important;
}

/* ---------------------------------------------------
    Tactics Screen STYLE
----------------------------------------------------- */

.tactic-container {
  background-color: #E9F2DA;
  padding: 10px 40px;
  width: 100%;
}


/* ---------------------------------------------------
    FILTERS
----------------------------------------------------- */
#r-checkbox {
    display: none;
  }
.r-checker {
    background-image: url('../assets/img/r-checkboxes.png');
    background-position: left center;
    background-size: auto 100%;
    width: 26px;
    height: 20px;
    background-repeat: no-repeat;
  }
#r-checkbox:checked + .r-checker {
    background-position: right center;
  }

#l-checkbox {
    display: none;
  }
.l-checker {
    background-image: url('../assets/img/l-checkboxes.png');
    background-position: left center;
    background-size: auto 100%;
    width: 26px;
    height: 20px;
    background-repeat: no-repeat;
  }
#l-checkbox:checked + .l-checker {
    background-position: right center;
  }


#m-checkbox {
    display: none;
  }
.m-checker {
    background-image: url('../assets/img/m-checkboxes.png');
    background-position: left center;
    background-size: auto 100%;
    width: 26px;
    height: 20px;
    background-repeat: no-repeat;
  }
#m-checkbox:checked + .m-checker {
    background-position: right center;
  }

/* ---------------------------------------------------
    Drag and drop
----------------------------------------------------- */

.draggable {
    cursor: move;
    user-select: none;
}

.movable:not(.dragging) {
transition: transform 300ms ease-in-out;
}


/* ---------------------------------------------------
    Login Box
----------------------------------------------------- */

.login-box {
  max-width: 600px;
}

/* ---------------------------------------------------
    Widgets
----------------------------------------------------- */
// CUPS
#cups {
    background-color: #2b2e33 !important;
    font-family: dosis, helvetica;
    width: 100%;
    padding: 0;
    color: #af8121;
    font-size: 0.7rem;
}