$font-dosis: 'dosis', sans-serif;
$font-chunkfive: 'chunkfive', Helvetica;

// Old
$primary-color: #65b8f8;
$bg-color: rgba(54, 57, 63, 0.801); // #45738b;
$text-primary: #EBF3F5; // #ffffff;

// Backgrounds
$deep-blue: #36393f;
$dark-blue: #26272b;
$body-bg: rgba(0, 0, 0, 0.693);

// Borders and others
$light-blue: #65b8f8; // 
$second-light-blue: #306996; 
$light-green: #43b581;
$light-yellow: #fcff52;
// Text
$white: #fcfcfc;
$light-gray: #b8b9ba;

// Colors
$red: #CE3A17;
$black: #444444;
