$primary-blue: #01b3cd;
$secondary-blue: #0391a5;
$primary-grey: #414548;
$green: #047739;
$red: #710401;
$font-dosis: 'dosis',
sans-serif;
$font-chunkfive: 'chunkfive',
Helvetica;
// Old
$primary-color: #09afdf;
$bg-color: rgba(54, 57, 63, 0.801); // #45738b;
$bg-dark: rgba(0, 0, 0, 0.693);
$text-primary: #EBF3F5; // #ffffff;
// Backgrounds
$deep-blue: #36393f;
$dark-blue: #26272b;
// Borders and others
$light-blue: #65b8f8; // 
$second-light-blue: #306996;
$light-green: #43b581;
$light-yellow: #fcff52;
// Text
$white: #fcfcfc;
$light-grey: #9a9fa2;
// Colors
$black: #444444;
$dark-black: #1c1d1f;