.fa-heart{
  color:#e74c3c;
}
  [class^="fa fa-star"]{
    color:#f1c40f;
  }
.fa-quote-right{
  font-size:.5em;
  }

.topic {
  padding: 10px;
  margin-top: 10px;
}

.topic-title{
    padding:15px;
    padding-top:0;
  }

.topic-content {
  margin-top: 10px;
}

.topic-footer{
  background: linear-gradient(30deg, rgba(115,170,138,1), rgba(149,189,142,1));
  width:100%;
  min-height:40px;
  color: #fff;
  vertical-align: middle;
}

#user-description{
    height:100%;
    border-left:2px solid rgba(149,189,142,1); 
    margin:0 auto;
    text-align:center;
}

figure img{
    display :inline !important;
}

.topic-user-avatar {
  width: 150px;
}
.topic-user-stats {
  text-align: center; 
}

h4.online:before{
    background-color:green;
    height:10px;
    width:10px;
    border: 2px solid rgba(149,189,142,1);
}

td{
    width:37% !important;
}
dd{
    margin-left:2% !important;
}
    

      
